<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.taglibrary.mapper.TlAuditLogMapper">

    <resultMap type="TlAuditLog" id="TlAuditLogResult">
        <id     property="logId"        column="log_id"        />
        <result property="bizType"      column="biz_type"      />
        <result property="bizId"        column="biz_id"        />
        <result property="bizName"      column="biz_name"      />
        <result property="action"       column="action"        />
        <result property="fromStatus"   column="from_status"   />
        <result property="toStatus"     column="to_status"     />
        <result property="applyBy"      column="apply_by"      />
        <result property="auditBy"      column="audit_by"      />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditComment" column="audit_comment" />
        <result property="createBy"     column="create_by"     />
        <result property="createTime"   column="create_time"   />
    </resultMap>

    <sql id="selectVo">
        select al.log_id, al.biz_type, al.biz_id, al.action, al.from_status, al.to_status,
               al.apply_by, al.audit_by, al.audit_time, al.audit_comment, al.create_by, al.create_time,
               case when al.biz_type = 'library' then l.library_name else t.tag_name end as biz_name
        from tl_audit_log al
        left join tl_tag_library l on l.library_id = al.biz_id and l.del_flag = '0'
        left join tl_tag t on t.tag_id = al.biz_id and t.del_flag = '0'
    </sql>

    <insert id="insertAuditLog" parameterType="TlAuditLog" useGeneratedKeys="true" keyProperty="logId">
        insert into tl_audit_log (
            biz_type, biz_id, action, from_status, to_status,
            apply_by, audit_by, audit_time, audit_comment, create_by, create_time
        ) values (
            #{bizType}, #{bizId}, #{action}, #{fromStatus}, #{toStatus},
            #{applyBy}, #{auditBy}, #{auditTime}, #{auditComment}, #{createBy}, sysdate()
        )
    </insert>

    <select id="selectAuditLogList" parameterType="TlAuditLog" resultMap="TlAuditLogResult">
        <include refid="selectVo"/>
        <where>
            <if test="bizType != null and bizType != ''">and al.biz_type = #{bizType}</if>
            <if test="bizId != null">and al.biz_id = #{bizId}</if>
            <if test="action != null and action != ''">and al.action = #{action}</if>
            <if test="bizName != null and bizName != ''">
                and (case when al.biz_type = 'library' then l.library_name else t.tag_name end) like concat('%', #{bizName}, '%')
            </if>
            <if test="applyBy != null and applyBy != ''">and al.apply_by like concat('%', #{applyBy}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''">and al.create_time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null and params.endTime != ''">and al.create_time &lt;= #{params.endTime}</if>
        </where>
        order by al.log_id desc
    </select>

</mapper>
